<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Lockscreen</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
 
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
 
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
 
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition lockscreen" style="background-image: url('https://p3.storage.canalblog.com/34/39/1305055/99585695_o.jpg');height: 500px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;";> -->
<div class="lockscreen-wrapper">
  <div class="lockscreen-logo" style="color: #fffefe;">
    <a href="../../index2.html" style="color: #fffefe;"><b>Gestion</b>RH</a>
  </div>
  <!-- User name -->
  <div class="lockscreen-name" style="color: #da1136;font-size: 16px;">Ahmed Ali</div>

  <div class="lockscreen-item">
    
    <div class="lockscreen-image">
      <img src="../../dist/img/avatar5.png" alt="User Image">
    </div>
   
    <form class="lockscreen-credentials">
      <div class="input-group">
        <input type="password" class="form-control" placeholder="password">

        <div class="input-group-btn">
          <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
        </div>
      </div>
    </form>

  </div>
  <div class="help-block text-center" style="color: #fffefe;">
    Enter your password to retrieve your session
  </div>
  
  
</div>
<!-- /.center -->

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

