<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Create New Absence
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Absences</a></li>
      <li class="active">Add Absence</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div [hidden]="submitted" >
        <form (ngSubmit)="onSubmit()">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Absence / Congé</h3>
              </div>
              <div class="callout callout-danger" style="margin-left: 100px;margin-right: 100px;margin-top: 20px;" *ngIf="jour">
                {{ jour }}
                </div>
                <div class="callout callout-warning" style="margin-left: 100px;margin-right: 100px;margin-top: 20px;" *ngIf="sold">
                  {{ sold }}
                  </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    
                    <div class="form-group">
                      <label>Type</label>
                      <select class="form-control" [(ngModel)]="absence.type" id="type" name="type"  style="width: 100%;" required>
                        
                          <option *ngFor="let typ of types | async" [ngValue]="typ" >{{typ.type}}</option>
                        
                      </select>
                    </div>
                    
                    
                    <div class="form-group">
                      <label>Employee</label>
                      <select name="service" class="form-control" id="employee" [(ngModel)]="absence.employee" placeholder="Select an employee" style="width: 100%;">
                        <option *ngFor="let employee of employees | async" [ngValue]="employee" >{{employee.cin}} - {{employee.lastName}} {{employee.firstName}}</option>
                      </select>
                    </div>
                  
                </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>date Debut:</label>
                      <div class="input-group date">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" [(ngModel)]="absence.dateDebut" id="dateDebut" name="dateDebut"  class="form-control" >
                      </div>
                      
                    </div>
                    
                      <div class="form-group">
                        
                        <label>date Fin:</label> <span class="badge bg-red" style="font-size:small;">{{ jour }}</span> 
                        <div class="input-group date">
                          <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </div>
                          <input type="date" [(ngModel)]="absence.dateFin" id="dateFin" name="dateFin" class="form-control" required>
                        </div>
                        
                      </div>
                      
                      
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" *ngIf="!absence.dateFin || !absence.dateDebut || !absence.type || !absence.employee" class="btn btn-lg bg-orange fa fa-plus " disabled> Enregister l'absence </button>
                <button type="submit" *ngIf="absence.dateFin && absence.dateDebut && absence.type && absence.employee" class="btn btn-lg bg-orange fa fa-plus "> Enregister l'absence </button>
                <button type="reset" class="btn bg-olive pull-right">Reset</button>
              </div>
            </div>
          </div>
          
        </form>
      </div>  
    </div>
  </section>
 
  