<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard
      <small>Statistiques et suivi</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{this.count1}}</h3>

            <p>Demandes de congés</p>
          </div>
          <div class="icon">
            <i class="fa fa-calendar"></i>
          </div>
          <a [routerLink]="['/permissions']" class="small-box-footer">Plus info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{this.count2}}</h3>

            <p>Total d'absence ce mois</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a [routerLink]="['/absences']" class="small-box-footer">Plus info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
          <div class="inner">
            <h3>{{this.count}}</h3>

            <p>Employees</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a [routerLink]="['/employees']" class="small-box-footer">Plus info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{this.count3}}</h3>

            <p>Nouveau Avancements</p>
          </div>
          <div class="icon">
            <i class="fa fa-external-link-square"></i>
          </div>
          <a [routerLink]="['/promotions']" class="small-box-footer">Plus info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <ul class="nav nav-tabs pull-right">
            
            <li class="pull-left header"><i class="fa fa-inbox"></i> Statictiques</li>
          </ul>
          <div class="tab-content no-padding">
            <!-- Morris chart - Sales -->
            <div class="chart" style="display: block;">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors] = "barChartColors" style="width: 500px;height:600px">
            </canvas>
            </div>
          </div>
        </div>
        <!-- /.nav-tabs-custom -->

         <!-- TABLE: LATEST ORDERS -->
         <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Les Absences récents</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Employee Profil</th>
                  <th>Type</th>
                  <th>Durée</th>
                  <th>date Debut</th>
                  <th>date Reprise</th>
                </tr>
                </thead>
                <tbody>
                
                <tr *ngFor="let absence of absences | async">
                  <td >
                    <div class="col-md-4">
                    <div class="box-body box-profile">
                      <div class="img-circle">
                        <img  [src]="absence.employee.image" class="img-circle" width="50px" height="50px" >
                      </div>
                    </div>
                    </div><div class="col-md-8"><br> {{absence.employee.cin}} - {{absence.employee.lastName}} {{absence.employee.firstName}}</div>
                  </td>
                  <td><br>{{absence.type.type}}</td>
                  <td><br>{{absence.nb_jours}}</td>
                  
                  <td><br>{{absence.dateDebut }}</td>
                  <td><br>{{absence.dateFin }}</td>
                </tr>
               
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a [routerLink]="['/addabsence']" class="pull-left"><span class="badge bg-maroon" style="font-size: smaller;padding: 10px;">Add New Absence</span></a>
            <a [routerLink]="['/absences']" class="pull-right"><span class="badge bg-teal" style="font-size: smaller;padding: 10px;">View All Absences</span></a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      
          

        <!-- TO DO List -->
        <div class="box box-primary">
          <div class="box-header">
            <i class="ion ion-clipboard"></i>
            <h3 class="box-title">Les alertes</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
            <ul class="todo-list">
              <li *ngFor="let p of promotion | async" >
                <div>
                    <span class="handle">
                      <i class="fa fa-ellipsis-v"></i>
                      <i class="fa fa-ellipsis-v"></i>
                    </span>
                <span class="text">l'employee {{p.employee.cin}} {{p.employee.lastName}} va avoir  <small class="badge bg-maroon" >{{ p.type }}</small>  cette année.  <small class="badge bg-teal"><i class="fa fa-clock-o"></i> {{hoursDiff(p.createdAt)}} hours</small></span>   
                <div class="tools">
                  <i class="fa fa-trash-o"></i>
                </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Suivi des avancements</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Employee Profil</th>
                  <th>Type </th>
                  <th>date Creation</th>
                  <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                
                <tr *ngFor="let p of promotion | async">
                  <td *ngIf="p.status=='demandé'">
                    <div class="col-md-4">
                    <div class="box-body box-profile">
                      <div class="img-circle">
                        <img  [src]="p.employee.image" class="img-circle" width="50px" height="50px" >
                      </div>
                    </div>
                    </div><div class="col-md-8"><br> {{p.employee.cin}} - {{p.employee.lastName}} {{p.employee.firstName}}</div>
                  </td>
                  <td *ngIf="p.status=='demandé'"><br>{{p.type}}</td>
                  <td *ngIf="p.status=='demandé'"><br>{{p.createdAt | date :  "dd/MM/y"}}<small class="badge bg-teal"><i class="fa fa-clock-o"></i> {{hoursDiff(p.createdAt)}} hours</small></td>
                  <td *ngIf="p.status=='demandé'"><br><span class="badge bg-orange" style="font-size: small;">{{p.status}}</span> 
                    </td>
                  
                </tr>
               
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a [routerLink]="['/promotions']" class="pull-right"><span class="badge bg-teal" style="font-size: smaller;padding: 10px;">Voir La liste des nouveaux avancements</span></a>
          </div>
          <!-- /.box-footer -->
        </div>
    
      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-5 connectedSortable">
        
          <!-- USERS LIST -->
          <div class="box box-solid">
            <div class="box-header box-solid bg-teal-gradient with-border">
              <i class="fa fa-users"></i>
              <h3 class="box-title">Les Employés Récents</h3>

              <div class="box-tools pull-right">
                <span class="badge bg-maroon">{{this.count}} Employés</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding" >
              <ul class="users-list clearfix" >
                <li *ngFor="let employee of employees | async">
                  <img [src]="employee.image">
                  <a class="users-list-name" (click)="employeeDetails(employee.id)" style="font-size: small;">{{employee.firstName}} {{employee.lastName}}</a>
                  <span class="users-list-date">{{employee.cin}}</span>
                </li>
               
              </ul>
              <!-- /.users-list -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a [routerLink]="['/employees']" class="uppercase">Voir Tout Employés</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!--/.box -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Nombre des Employés par Genre</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart-responsive">
                    <canvas baseChart 
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [colors] = "pieChartColors"></canvas>
                            
                    
                  </div>
                  <!-- ./chart-responsive -->
                </div>
                <!-- /.col -->
                
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <!-- /.footer -->
          </div>
        

       
       <!--  <div class="box box-solid bg-teal-gradient">
          <div class="box-header">
            <i class="fa fa-th"></i>

            <h3 class="box-title">Suivi d'avancements</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <div class="box-body border-radius-none">
            <div class="chart" id="line-chart" style="height: 250px;"></div>
          </div>
        </div> -->

       <!-- Calendar -->
       <div class="box box-solid bg-green-gradient">
        <div class="box-header">
          <i class="fa fa-calendar"></i>

          <h3 class="box-title">Calendar</h3>
          <!-- tools box -->
          <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            
            <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
            </button>
          </div>
          <!-- /. tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <!--The calendar 
          <div><full-calendar defaultView="dayGridMonth" #calendar [plugins]="calendarPlugins"></full-calendar></div>-->
        </div>
        <!-- /.box-body -->
       
      </div>
      <!-- /.box -->
        <!-- /.box -->
      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
  <div class="control-sidebar-bg"></div>